# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Sublime Text 2 File upload plugin config file
ftpsync.settings

# Sass cache directory
.sass-cache

# Sublime Text 3
Default (OSX).sublime-keymap
Package Control.cache
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
bh_core.sublime-settings
oscrypto-ca-bundle.crt
